<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="training.javaweb.exam.dao.mapper.UserMapper">
	<insert id="createUserAccount" parameterType="map" useGeneratedKeys="true" keyProperty="id">
	    INSERT INTO users (username, password, role, owner_id, enabled, created_at)
	    VALUES (
	        #{username},
	        #{password},
	        #{role},
	        #{ownerId},
	        #{enabled},
	        #{createdAt}
	    )
	</insert>

	<delete id="deleteUserByOwnerId" parameterType="map">
		DELETE FROM users WHERE owner_id = #{ownerId}
	</delete>
	
	<select id="findByUsername" parameterType="map" resultType="training.javaweb.exam.entity.User">
	    SELECT 
	        id,
	        username,
	        password,
	        role,
	        owner_id AS ownerId,
	        enabled AS enable,
	        created_at AS createdAt
	    FROM users
	    WHERE username = #{username}
	</select>

</mapper>